.page#contact {
    width: 100%;
}

.page#contact .map {
    background-image: url('../images/photos/maps.png');
    width: 100%;
    background-size: cover;
    background-position: -10vh 0;
    margin-top: 15px;
}

.page#contact .field-group-gender {
    margin-bottom: 15px;
}

@media (max-width: 1645px) {
    .page#contact .map {
        background-position: -34vh 0;
    }
}

@media (max-width: 1350px) {
    .page#contact .map {
        background-position: -45vh 0;
    }
}

@media (max-width: 1200px) {
    .page#contact .map {
        display: none;
    }
}

@media (max-width: 648px) {
    form {
      padding: 40px;
    }
  
    form .field-group {
      flex-direction: column;
    }
  
    form .field-group .field + .field {
      margin-left: 0;
    }
}
  
@media (max-width: 380px) {
    form {
      padding: 20px;
    }
}