footer {
    border-top: 1px dashed var(--yellow);
    width: 100%;
    flex-direction: column;
}

footer .columns {
    width: 100%;
    flex-direction: column;
}

footer .columns .column {
    width: 100%;
    align-items: center;
    padding-bottom: 2.5em;
    justify-content: space-around;
}

footer .columns .column .column-text{
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

footer .columns .column .column-text h2 {
    font-size: 1.4em;
    color: var(--darkblue);
}

footer .columns .column .column-text a {
    text-decoration: none;
    color: var(--black95);
}

footer .columns .column .column-text a:hover {
    color: var(--grayC);
}

footer .columns .column .column-text p {
    color: var(--black95);
    margin: 2.5px 0;
}

footer .direitos {
    justify-content: center;
    background-color: var(--yellow);
}

footer .direitos p {
    margin: .3em;
    color: var(--white);
}

footer #column-redes-sociais {
    justify-content: center;
    width: 100%;
    padding-bottom: 1.2em;
}

footer #column-redes-sociais img {
    width: 38px;
    margin: .5em 1em;
}

@media (min-width: 576px) {
    footer .columns {
        flex-direction: row;
    }
}

@media (min-width: 576px) {
    footer .columns {
        flex-direction: column;
    }
}

@media (min-width: 992px) {
    footer .columns {
        flex-direction: row;
        height: 280px;
    }
}