footer {
    margin-top: 30px;
    width: 100%;
    flex-direction: column;
}

footer .columns {
    width: 100%;
    flex-direction: column;
}

footer .columns .column {
    width: 100%;
    align-items: center;
    padding-bottom: 2.5em;
    justify-content: space-around;
}

footer .columns .column .column-text{
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

footer .columns .column .column-text h2 {
    font-size: 1.4em;
    color: var(--darkblue);
}

footer .columns .column .column-text a {
    text-decoration: none;
    color: var(--black95);
}

footer .columns .column .column-text a:hover {
    color: var(--grayC);
}

footer .columns .column .column-text p {
    color: var(--black95);
    margin: 2.5px 0;
}

footer .direitos {
    justify-content: center;
    background-color: var(--yellow);
}

footer .direitos p {
    margin: .3em;
    color: var(--white);
}

footer #column-redes-sociais {
    justify-content: center;
    width: 100%;
    padding-bottom: 1.2em;
}

footer #column-redes-sociais img {
    width: 38px;
    margin: .5em;
}

@media (min-width: 576px) {
    footer .columns {
        flex-direction: row;
    }
}

@media (min-width: 576px) {
    footer .columns {
        flex-direction: column;
    }
}

@media (min-width: 992px) {
    footer .columns {
        flex-direction: row;
        height: 280px;
    }
}















/* footer {
    width: 100%;
}

footer #footer {
    background-color: var(--black35);
    flex-direction: column;
}

#footer #hours .columns .div-hours {
    text-align: center;
}

#footer #hours .columns .div-hours h2 {
    color: var(--cream1);
    font-size: 1.5em;
    margin-top: 1.8em;
}

#footer #hours h3 {
    color: var(--white);
    font-size: 1.1em;
    margin-top: 1.4em;
}

footer #hours {
    margin-bottom: 1.8em;
}

footer #hours .columns {
    flex-direction: column;
}

footer .columns .hours1 {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-bottom: 0px;
    margin-top: 0;
}

footer .columns .hours1 p {
    margin-bottom: 10px;
    margin-top: 0;
    color: var(--grayD);
}

footer .columns .hours2 {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin-top: 1.2em;
    margin-bottom: 0px;
}

footer .columns .hours2 p {
    margin-bottom: 10px;
    margin-top: 0;
    color: var(--grayD);
} 

footer .columns .header-footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0px;
}

footer .columns .header-footer h3 {
    color: var(--cream1);
    font-size: 1.5em;
}

footer .columns .header-footer li {
    margin-bottom: 10px;
}

footer .columns .header-footer li a {
    text-decoration: none;
    font-size: 1em;
    color: var(--grayD);
}

footer .columns .header-footer li a:hover {
    color: var(--white85);
}

footer .columns .contact {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

footer .columns .contact h3 {
    color: var(--cream1);
    font-size: 1.5em;
}

footer .columns .contact li {
    margin-bottom: 8px;
}

footer .columns .contact li a {
    cursor: auto;
    text-decoration: none;
    font-size: 1em;
    color: var(--grayD);
}

footer .allrights {
    color: var(--white);
    margin: 0 0 1.5em 0;
    justify-content: center;
    align-items: center;
}

footer .allrights p {
    margin-top: 2em;
    margin-bottom: 0.1em;
    justify-content: center;
    align-items: center;
}


@media (min-width: 576px) {
    footer .columns {
        flex-direction: row;
    }
        
    footer #hours .columns {
        flex-direction: row ;
    }

    #footer #hours .columns .div-hours {
        width: 33%;
    }

    #footer #hours .columns .div-hours h2 {
        padding-left: 1.5em;
    }

    footer #hours .columns .hours1 {
        width: 33%;
        margin-left: 2.5em;
        margin-top: 1.2em;
    }

    footer #hours .columns .hours2 {
        width: 33%;
        margin-left: 1.5em;
    }

    footer .columns .header-footer {
        width: 49%;
        padding: 0;
        margin-left: 1.5em;
    }

    footer .columns .contact {
        width: 49%;
        padding: 0;
        margin-left: 1.5em;
        margin-top: 0;
    }
}

@media (min-width: 1200px) {
    footer #footer {
        flex-direction: column;
    }

    footer #footer .footer-columns {
        flex-direction: row;
    }

    footer #footer div {
        flex: 1;
    }

    footer #footer .header-footer {
        margin: 1.1em 4em 0 4em;
    }
} */