.page#products {
    width: 100%;
    flex-direction: column;
}

.page#products {
    width: 100%;
    height: 100vh;
    flex-direction: column;
}

.page#products .hero-text {
    margin-top: 30px;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 30px;
    padding-bottom: 6.5em;
}

.page#products .hero-text h1 {
    color: var(--darkblue);
}

.page#products.hero-text h3 {
    color: var(--white);
    margin: 0;
}

.page#products .hero-text .text {
  
}

.page#products .hero-text .text p {
    margin: .3em 0;
    color: var(--black);
}

.page#products .products-animals {
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    height: 1000px;
}

.items-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

.page#products .products-animals fieldset {
    width: 100%;
    margin: 0 3em 3em 3em;
}

.items-grid a {
    text-decoration: none;
}

.items-grid li {
    background-color: #f5f5f5;
    list-style: none;

    border: 2px solid #f5f5f5;
    border-radius: 8px;
    height: 240px;
    width: 100%;

    padding: 32px 24px 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    text-align: center;
    cursor: pointer;
}

.items-grid li img {
    width: 150px;
    height: 150px;
}

.items-grid li span {
    margin-top: 20px;
    flex: 1;
    
    display: flex;
    align-items: center;

    color: var(--darkblue);
}


.items-grid li:hover{
    background: #e1faec;
    border: 2px solid #34cb79;
}

.items-grid li:active {
    border: 2px solid lightgreen;
}

.items-grid li #parrot {
    width: 100%;
    height: 17px;
    justify-content: flex-end;
}

.items-grid li #parrot {
    width: 20px;
    height: 20px;
    margin-left: auto;
}

.items-grid li #parrot img {
    width: 1.5px;
    height: 1.5px;
    background-color: black;
}

.items-grid li #parrot img:hover {
    width: 20px;
    height: 20px;
    background-color: transparent;
}

@media (min-width: 600px) {
    .items-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 850px) {
}

@media (min-width: 1200px) {
    .items-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}







/* @media (min-width: 440px) {
    .page#products header {
        background-position: 0;
    }
}

@media (min-width: 620px) {
    .page#products header {
        background-position: 0vh -29vw;
    }
}

@media (min-width: 720px) {
    .page#products header {
        background-position: 0vh -45vw;
    }
}

@media (min-width: 850px) {
    .page#products header {
        background-position: 0vh -62vw;
    }
} */