.page#products {
    width: 100%;
    flex-direction: column;
    margin-top: 2.5em;
}

.page#products {
    width: 100%;
    flex-direction: column;
}

.page#products .hero-text {
    margin-top: 30px;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 50px;
    padding-bottom: 1.5em;
    width: 100%;
    padding-right: 35px;
}

.page#products .hero-text h1 {
    color: var(--darkblue);
}

.page#products .hero-text h3 {
    color: var(--yellow);
    margin: 0;
}

.page#products .hero-text .text {
    border-left: solid 2px var(--yellow);
    border-radius: 4px;
    margin-top: 20px;
    padding-left: 10px;
    margin-right: 60px;
    flex-direction: column;
    display: none;
}

.page#products .hero-text .text p {
    margin: .3em 0;
    color: var(--black95);
}

.page#products .products-animals {
    justify-content: center;
    align-items: center;
    width: 100%;
}

.page#products .products-animals fieldset {
    width: 100%;
    margin: 0 3em 3em 3em;
}

.items-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

.items-grid a {
    text-decoration: none;
}

.items-grid li {
    background-color: #f5f5f5;
    list-style: none;

    border: 2px solid #f5f5f5;
    border-radius: 8px;
    height: 240px;
    width: 100%;

    padding: 32px 24px 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    text-align: center;
    cursor: pointer;

    transition: background .4s ease;
    transition: border .4s ease;
}

.items-grid li img {
    width: 150px;
    height: 150px;
}


.items-grid li span {
    margin-top: 20px;
    flex: 1;
    
    display: flex;
    align-items: center;

    color: var(--darkblue);
}


.items-grid li:hover{
    background: #e4f2f7;
    border: 2px solid var(--darkblue);
}

.items-grid li #parrot {
    width: 100%;
    height: 17px;
    justify-content: flex-end;
}

.items-grid li #parrot {
    width: 20px;
    height: 20px;
    margin-left: auto;
}

.items-grid li #parrot img {
    width: 2px;
    height: 2px;
    background-color: black;
}

.items-grid li #parrot img:hover {
    width: 50px;
    height: 50px;
    background-color: transparent;
}

@media (min-width: 600px) {
    .items-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 800px) {
    .page#products .hero-text .text {
        display: block;
    }
}

@media (min-width: 992px) {
    .page#products .hero-text {
        padding-bottom: 6.5em;
        width: 70%;
    }
}

@media (min-width: 1200px) {
    .items-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 1550px) {
    .page#products {
        width: 100%;
        height: 100vh;
        flex-direction: row;
    }

    .page#products .hero-text {
        width: 50%;
    }

    .page#products .products-animals {
        align-items: flex-start;
        width: 50%;
        padding-right: 50px;
    }

    .items-grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 1600px) {
    .page#products .products-animals{
        margin-left: 20px;
    }

    .items-grid {
        grid-template-columns: 1fr 1fr;
    }
}