:root {
    --black: #000;
    --black5: #00000005;
    --black25: #00000025;
    --black35: #00000035;
    --black50: #00000050;
    --black75: #00000075;
    --black85: #00000085;
    --black95: #00000095;
    --white: #fff;
    --white25: #ffffff25;
    --white50: #ffffff50;
    --white90: #ffffff90;
    --white98: #ffffff98;
    --grayC: #ccc;
    --grayD: #ddd;
    --grayE: #eee;
    --blue: #63c9f4;
    --lightblue: #d7eaf6;
    --lightblue50: #b5d0e350;
    --darkblue: #3878B9;
    --bluegreen: #2FCBB7;
    --green: rgb(4, 211, 97);
    --purple: #7159C1;
    --lightpurple: rgb(166, 146, 233);
    --yellow: #fdcc52;
    --yellow50: #fdcc5250;
}